<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="console" type="System.Diagnostics.ConsoleTraceListener"/>
        <add name="file" type="System.Diagnostics.TextWriterTraceListener" initializeData="Bugfree.Spo.ExternalSharingCenter.Cli.log"/>
      </listeners>
    </trace>
  </system.diagnostics>

  <appSettings>
    <add key="ExternalSharingCenterUrl" value="https://tenant.sharepoint.com/sites/siteCollection/ExternalSharingCenter"/>
    <add key="TenantAdministratorUsername" value="user@tenant.onmicrosoft.com"/>
    <add key="TenantAdministratorPassword" value="password"/>
    <add key="ExpirationWarningDays" value="14"/>
    <add key="ExpirationWarningMailsMinimumDaysBetween" value="3"/>
    <add key="MailFrom" value="sharepoint@domain.dk"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
